header{
margin-bottom: 11px;
}
	nav{
		width: 54%;
		top:55px;
		display: block;
		}

      nav ul li{
		margin: 0 2%;
		font-size: 0.85em;
		}
		
		
article.activites {
float: left;
width: 45%;
margin-right: 5%;
position: relative;
}

article.prestation{
float: none;
width: 92%;
margin-right: 40px;
margin-bottom: 44px;
position: relative;
}


article.prestataire{
background: #fff;
width: 29.5%;
margin-right: 5%;
margin-bottom: 22px;
display: block;
float: left;
padding: 15px 0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px; 
border: 1px solid #dcdbdb;
}

article.prestataire:hover{
background: #fff3e7;
}


article.lastBloc{
margin-right: 0;
}


article.prestataire span, article.prestataire div{
float: left;
margin-left: 15px;
}

article.prestataire div{
margin-left: 15px;
}

article.prestataire h2 ,article.prestataire p{
margin-bottom: 0;
}

article.prestataire h2 a{
font-size: 16px;
color: #849a41;
text-decoration: none;
}

article.prestataire p a{
font-size: 13px;
color: #666;
text-decoration: none;
}



	form input[type=submit] { 	 
	-webkit-appearance: none;
	}
	
@media all and (orientation:portrait) {
	
section.contenu{
width: 95%;
}

article.activites {
float: none;
width: 90%;
margin-right: 5%;
position: relative;
}
	
	nav{
		width:37%;
		padding: 10px 5px 0 5px;
		height: 66px;
		top: 25px;
		right: 20px;
		text-align: center;
		}

      nav ul li{
		margin: 0 3%;
		height: 33px;
		line-height: 24px;
		font-size: 0.9em;
		text-align: center;
		}
		
		nav ul li a{
		height: 27px;
		}
		
		
.polaroids p.pola01{
left: 1%;
top:65px
}

.polaroids p.pola02{
left: 42%;
top:250px
}

.polaroids p.pola03{
display: none;
}

.polaroids p.etiquette{
left:40%;
top:-40px;

}
	
 textarea {
 width: 60%;
}	
	
/*------------*/	
}